<div id="main" class="pure-u">
  <div class="content header pure-u-1">
    <h1>Forbidden</h1>
  </div>

  <div class="content">
    You do not have access to this page. <br />
    <br />
    <button class="pure-button pure-button-primary" onclick="window.history.back()">Go back</button>
  </div>
</div>
