<div class="content login pure-u" data-ng-controller="AuthLoginCtrl">
  <h1 class="center">Consilium</h1>
  <hr class="soften" />
  <div class="separator-small"></div>
  <div class="alert alert-success" data-ng-show="didResetPassword">
    You have successfully set your password. You can now login.
  </div>
  <div class="alert alert-success" data-ng-show="didSendResetPassword">
    An email has been sent. Please follow the enclosed instructions to reset your password.
  </div>
  <form name="loginForm" class="pure-form pure-form-aligned" data-ng-submit="login()">
    <div class="pure-form-fields">
      <div class="pure-control-group">
        <%= label_tag 'email', 'Email Address' %>
        <%= email_field_tag 'email', nil, :placeholder => 'Email address', :required => true, :data => {:ng_model => 'loginData.email'} %>
      </div>
      <div class="pure-control-group">
        <%= label_tag 'Password', 'Password' %>
        <%= password_field_tag 'password', nil, :placeholder => 'Password', :required => true, :data => {:ng_model => 'loginData.password'} %>
      </div>
    </div>
    <div class="login-buttons">
      <button class="pure-button" data-ng-click="forgotPassword()" type="button">Forgot Password</button>
      <button class="pure-button pure-button-secondary" data-click-href="#/auth/sign_up" type="button">Sign Up</button>
      <button class="pure-button pure-button-primary" type="submit">Login</button>
    </div>
  </form>
</div>
