<div class="content login pure-u" data-ng-controller="ResetPasswordCtrl">
  <h1 class="center">Consilium</h1>
  <hr class="soften" />
  <div class="separator-small"></div>
  <aside data-ng-show="activate">Welcome to Consilium. Please enter a password you would like to use to login.</aside>
  <div class="alert alert-error" data-ng-show="errors">
    <span data-ng-show="errors.length == 1"><strong>Error:</strong> Password {{ errors[0] }}</span>
    <ul data-ng-show="errors.length > 1">
      <strong>Errors:</strong>
      <li data-ng-repeat="error in errors">Password {{ error }}</li>
    </ul>
  </div>
  <br data-ng-show="!errors">
  <form name="resetPassword" class="pure-form pure-form-aligned" data-ng-submit="submitResetPassword()">
    <div class="pure-form-fields">
      <div class="pure-control-group">
        <%= label_tag 'password', 'Password' %>
        <%= password_field_tag 'password', nil, :placeholder => 'Password', :required => true, :data => {:ng_model => 'password'} %>
      </div>
      <div class="pure-control-group">
        <%= label_tag 'password_confirm', 'Confirm Password' %>
        <%= password_field_tag 'password_confirm', nil, :placeholder => 'Confirm Password', :required => true, :data => {:ng_model => 'password_confirm'} %>
      </div>
    </div>
    <div class="login-buttons">
      <button class="pure-button pure-button-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
