@import '../shared/constants';
@import '../shared/utilities';

body {
  overflow-x: hidden;

  &.popover-active {
    overflow: hidden;
  }

  .slide-show, .slide-hide {
    @include transition();
  }

  .slide-show, .slide-hide.slide-hide-active {
    left: $nav-width-handhelds;
    @include respond-to(handhelds) { left: $nav-width-handhelds; }
    @include respond-to(tablets) { left: $nav-width-tablets; }
    @include respond-to(desktops) { left: $nav-width-desktops; }
  }

  .slide-show.slide-show-active, .slide-hide {
    left: 2*$nav-width-handhelds;
    @include respond-to(handhelds) { left: 2*$nav-width-handhelds; }
    @include respond-to(tablets) { left: 2*$nav-width-tablets; }
    @include respond-to(desktops) { left: 2*$nav-width-desktops; }
  }

  .content {
    $content-margin-handhelds: 85px;
    $content-margin-tablets: 150px;
    width: 70%;
    margin: auto;
    @include respond-to(handhelds) { @include calc(width, '100% - #{$content-margin-handhelds}'); margin-right: 20px; }
    @include respond-to(tablets) { @include calc(width, '100% - #{$content-margin-tablets}'); }
    @include respond-to(widescreens) { width: 80%; }
  }

  .modal-inside .modal-sizer {
    @include respond-to(handhelds) {margin-right: auto;}
  }

  .layout {
    @include respond-to(handhelds) {
      &.active #main {
        @include transform($nav-width-handhelds, 0);
      }
    }

    @include respond-to(tablets) {
      &.active #main {
        @include transform($nav-width-tablets, 0);
      }
    }
  }

  h1 {
    @include respond-to(handhelds) { font-size: 32px; }
  }

  h2 {
    @include respond-to(handhelds) { font-size: 22px; }
  }

  h3 {
    @include respond-to(handhelds) { font-size: 18px; }
  }

  #view {
    padding-bottom: $view-padding;
  }

  #main {
    @include transition();

    width: 100%;

    @include respond-to(desktops) { padding-left: $nav-width-desktops; @include calc(width, '100% - #{$nav-width-desktops}'); };
    @include respond-to(widescreens) { padding-left: $nav-width-widescreens; @include calc(width, '100% - #{$nav-width-widescreens}'); }
  }

  #mainMenuLink {
    @include transition();

    z-index: 1004;

    &:link, &:visited, &:hover, &:active {
      color: #eee;
      text-decoration: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }

    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);

    i {
      width: auto;
    }

    &.active {
      // This doesn't show up on anything other than handhelds and mobile.
      @include transform($nav-width-handhelds, 0);
      @include respond-to(tablets) { @include transform($nav-width-tablets, 0); }
    }
  }

  .header {
    min-height: 60px;
    padding: 1em 1em 0 1em;

    @include respond-to(handhelds) { padding: 0; }

    .breadcrumbs {
      .divider {
        color: #ccc;
        font-weight: 200;
      }

      a, a:link, a:visited, a:hover, a:active {
        color: #08c;
        text-decoration: none;
      }
    }
  }
}
