@import '../shared/constants';
@import '../shared/utilities';

.brokerage-form {
  padding-top: 20px;

  .button-group {
    margin-top: 15px;
    text-align: right;
    float: right;
  }
}

.contacts-table {
  .email {
    word-break: break-word;
  }

  @include ng-scope-hover();
}

.brokerage-stats {
  padding-top: 20px;

  .stats-time-select {
    position: absolute;
    bottom: 0;
    right: 0;

    .pure-button {
      font-size: 80%;
    }
  }

  .disclaimer {
    margin-top: 10px;
    width: 100%;
    text-align: right;

    color: #999;
    font-size: 85%;
  }

  .value {
    vertical-align: middle;
  }
}
