@import '../shared/constants';
@import '../shared/utilities';

.brokerage-form {
  padding-top: 20px;

  .button-group {
    margin-top: 15px;
    text-align: right;
    float: right;
  }
}

.contacts-table {
  .email {
    word-break: break-word;
  }

  @include ng-scope-hover();
}
