@import '../shared/constants';
@import '../shared/utilities';

.client-form {
  $client-form-nav-width: 300px;

  @include respond-to(widescreens) { padding-top: 20px; }

  padding-bottom: 100px;

  .form-content {
    @include transition();

    width: 100%;
    display: inline-block;

    @include respond-to(handhelds) {
      button {
        display: inline-block;
      }
    }

    @include respond-to(widescreens) {
      @include calc(width, '100% - #{$client-form-nav-width + 5px}');
    }
  }

  .form-nav {
    $client-form-nav-padding: 50px;

    @include transition();

    display: none;
    width: $client-form-nav-width - $client-form-nav-padding;
    vertical-align: top;

    @include respond-to(widescreens) {
      display: inline-block;
      padding-right: $client-form-nav-padding;
    }
  }

  .subsection {
    @include transition();

    max-height: 32px;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 30px;

    .subsection-inner {
      margin: 20px 0 20px 0;
    }

    // TODO: This is very rickety and won't work with larger subsections.
    &.active {
      max-height: 300px;
    }
  }
}

.search-client-form {
  $search-client-form-nav-width: 400px;

  @extend .client-form;

  .form-content {
    @include respond-to(widescreens) {
      @include calc(width, '100% - #{$search-client-form-nav-width + 5px}');
    }
  }

  .form-nav {
    $search-client-form-nav-padding: 50px;

    width: 100%;
    display: inline-block;

    @include respond-to(widescreens) { width: $search-client-form-nav-width - $search-client-form-nav-padding; }
  }
}

.verbose-desc {
  @include respond-to(tablets) { display: none; }
  @include respond-to(handhelds) { display: none; }
}

// TODO: Where do these numbers come from? We should also change the
// names and scopes of these |section-|s.
#section-holder {
  @include calc(height, '95% - 95px');
  max-height: 585px;
}

#section-list {
  overflow-y: auto;
  @include calc(height, '100% - 38px');
}

#section-box {
  height: 100%
}

#toolbar {
  @include transition();

  position: fixed;

  bottom: 0;
  right: 0;
  left: $nav-width-desktops;
  @include transform(0, 0);

  z-index: 1002;
  background: #eee;
  color: #666;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #ddd;

  .pure-button {
    margin-left: 10px;
  }

  @include respond-to(handhelds) {
    button {
      display: inline-block;
    }

    left: 0;
    &.active {
      @include transform($nav-width-handhelds, 0);
    }
  }

  @include respond-to(tablets) {
    left: 0;
    &.active {
      @include transform($nav-width-tablets, 0);
    }
  }
}

.client-search {
  @include transition();

  width: 100%;
  display: inline-block;

  .search {
    $search-button-width: 55px;

    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.035);
    margin-bottom: 20px;

    .search-controls {
      height: 30px;

      input {
        vertical-align: top;
        display: inline-block;
        height: inherit;
        @include calc(width, '100% - #{$search-button-width}');
      }

      .spinner {
        position: absolute;
        display: inline-block;
        margin-left: -30px;
        margin-top: 7px;
        opacity: 0;
        &.loading {
          opacity: 1;
        }
      }

      button#btnSearch {
        vertical-align: top;
        width: $search-button-width;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -7px;
        display: inline-block;
        height: inherit;
      }
    }

    .advanced-search {
      @include transition();

      margin-top: 10px;
      text-align: right;
      position: relative;
      height: 16px;
      overflow: hidden;

      &.active {
        height: 170px;
      }

      .advanced-search-inner {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        .advanced-search-fields {
          $advanced-search-label-width: 80px;

          margin-bottom: 15px;

          .advanced-search-field {
            margin: 10px 0;
            label {
              width: $advanced-search-label-width;
              margin-right: 5px;
              display: inline-block;
            }
            input {
              width: 30px;
              display: inline-block;
              @include calc(width, '100% - #{$advanced-search-label-width} - 10px');
            }
          }
        }
      }
    }
  }
}

.client-show {
  padding-top: 20px;

  .client-info {
    margin-bottom: 30px;

    .client-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .value {
      vertical-align: middle;
    }

    @include respond-to(widescreens) {
      width: 35%;
      float: left;
      .desc {
        display: none;
      }
    }

    @include respond-to(handhelds) {
      .desc {
        display: none;
      }
    }
  }

  .client-docs {
    @include respond-to(widescreens) {
      width: 55%;
      float: right;
    }
  }
}

.client-table {
  table-layout: fixed;
  word-wrap: break-word;

  .name {
  }

  .company {
    width: 30%;
  }

  .actions {
    width: 50px;
    text-align: center;
  }

  #loading {
    border-top: 1px solid #cbc;
    text-align: center;
  }

  .ng-scope:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #e0e0e0;
  }
}

.document-table {
  margin-bottom: 100px;

  .actions {
    .pure-button {
      margin: 3px 0 3px 0; // so buttons stack nicely
      width: 20px;
    }
  }

  .detail {
    font-size: 80%;
    margin-top: 3px;

    .email {
      font-weight: bold;
    }

    .date {
      color: #999;
    }
  }
}
