body {
  overflow-y: scroll;

  $fontAwesomePath: "font" !default;
  @font-face {
    font-family: 'FontAwesome';
    src: font-url('#{$fontAwesomePath}/fontawesome-webfont.eot?v=3.0.1');
    src: font-url('#{$fontAwesomePath}/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"),
    font-url('#{$fontAwesomePath}/fontawesome-webfont.woff?v=3.0.1') format("woff"),
    font-url('#{$fontAwesomePath}/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  #page {
    margin-top: 60px;
  }

  .title {
    color: #555;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    line-height: 40px;
    font-size: 26px;
    margin: auto;
    width: 120px;
  }

  .buttons {
    margin-top: 35px;
    text-align: center;
  }

  .btn-menu {
    min-width: 350px;
    width: 80%;
    margin: 10px auto;
  }

  .small-margin {
    margin: 10px 0;
  }

  .alert {
    margin-bottom: 10px;
  }

  .field_with_errors {
    background-color: transparent;
    width: 100%;
    color: red;
  }

  .loggedInAs {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
