<div id="main" class="pure-u" data-ng-controller="BrokerageIndexCtrl">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      Brokerage
    </h2>

    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Brokerage" => "#/brokerage/",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content">
    <form name="form" class="brokerage-form pure-form pure-form-aligned" data-ng-submit="submitForm()">
      <div class="pure-form-fields">
        <div class="pure-control-group">
          <label for="office">Office</label>
          <input type="text" name="office" ng-model="brokerage.office" />
        </div>
        <div class="pure-control-group">
          <label for="marketer">Marketer</label>
          <input type="text" name="marketer" ng-model="brokerage.marketer" />
        </div>
        <div class="pure-control-group">
          <label for="producer">Producer</label>
          <input type="text" name="producer" ng-model="brokerage.producer" />
        </div>
      </div>
      <div class="button-group">
        <button data-ng-show="form.$dirty && !saving" class="pure-button pure-button-primary" type="submit">Save</button>
        <button data-ng-show="saving" class="pure-button pure-button-disabled pure-button-primary" type="submit">Saving</button>
        <button data-ng-show="!form.$dirty && !saving" class="pure-button pure-button-disabled pure-button-primary" type="submit">Saved</button>
      </div>
    </form>
  </div>
</div>
