<div id="main" class="pure-u" data-ng-controller="BrokerageIndexCtrl">
  <% fields = [
        {
          :id => 'name',
          :name => 'Name',
          :placeholder => 'e.g. Insurance Company Inc.',
          :type => 'text',
        },
        {
          :id => 'address',
          :name => 'Address',
          :placeholder => 'e.g. 123 Main Street, Toronto ON A1B 3C4',
          :type => 'text',
        },
        {
          :id => 'website',
          :name => 'Website',
          :placeholder => 'e.g. www.insurancecompany.com',
          :type => 'text',
        },
        {
          :id => 'phone',
          :name => 'Phone',
          :placeholder => '(Area Code) - Number (ext.)',
          :type => 'phone'
        },
        {
          :id => 'fax',
          :name => 'Fax',
          :placeholder => '(Area Code) - Number',
          :type => 'phone'
        },
     ]
     contactsField = {
        :id => 'contacts',
        :name => 'Contacts',
        :type => [
          {
            :id => 'name',
            :name => 'Name',
            :placeholder => 'Name',
            :required => true,
            :type => 'text',
          },
          {
            :id => 'title',
            :name => 'Title',
            :placeholder => 'e.g. Producer, Marketer, Customer Service',
            :required => true,
            :type => 'text',
          },
          {
            :id => 'email',
            :name => 'Email',
            :placeholder => 'e.g. john@consilium.ca',
            :type => 'email',
          },
          {
            :id => 'phone',
            :name => 'Phone',
            :placeholder => '(Area Code) - Number (ext.)',
            :type => 'phone',
          }
      ]
    } %>
  <%= render :partial => 'templates/field_modal',
             :locals => {
               :field => contactsField,
               :page_title => 'Brokerage',
               :syncable => false,
               :submit_callback => "addToField('contacts')"
             } %>

  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      Brokerage
    </h2>

    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Brokerage" => "#/brokerage/index",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content" data-ng-show="loading">
    <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
  </div>

  <div class="content" data-ng-show="!loading">
    <form auto-save="brokerage" name="brokerageForm" data-ng-submit="saveForm()"
          class="brokerage-form pure-form pure-form-aligned">
      <div class="well">
        <div class="section" id="basicInfo">
          <h3 class="no-top-margin no-bottom-margin">Office Info.</h3>
        </div>

        <div class="pure-form-fields">
          <% fields.each do |field| %>
            <%= form_field field, 'brokerage', false %>
          <% end %>
        </div>
      </div>

      <div class="separator"></div>

      <div class="well">
        <div class="section">
          <a class="section-edit pull-right pure-button pure-button-success" modal-toggle="contacts">
            <i class="icon-plus"></i> <span class="only-desktops">Add Contact</span>
          </a>
          <h3 class="no-top-margin no-bottom-margin">Brokerage Contacts</h3>
        </div>

        <%= render :partial => 'templates/action_table',
                   :locals => {
                      :name => 'contacts',
                      :model => "brokerage.contacts",
                      :rowClick => "editInField('contacts', null, $index)",
                      :fields => [
                        {
                          :name => 'Name',
                          :content => '{{ item.name }}'
                        },
                        {
                          :name => 'Title',
                          :content => '{{ item.title }}'
                        },
                        {
                          :name => 'Email',
                          :class => 'email',
                          :content => '{{ item.email }}',
                        },
                        {
                          :name => 'Phone',
                          :content => '{{ item.phone }}'
                        },
                      ],
                      :actions => [
                        {
                          :icon => 'icon-edit',
                          :click => "editInField('contacts', null, $index)",
                        },
                        {
                          :class => 'pure-button-error',
                          :icon => 'icon-trash',
                          :click => "deleteFromField('contacts', null, $index)",
                        },
                      ],
                    } %>
      </div>

      <div class="separator-xsmall"></div>

      <div class="button-group">
        <button class="pure-button pure-button-secondary pure-button-large"
                data-ng-class="{'pure-button-disabled': !saving && !brokerageForm.$dirty}" type="submit">
          <span data-ng-if="saving">
            <i class="icon-spinner icon-spin"></i> Saving...
          </span>
          <span data-ng-if="!saving && !brokerageForm.$dirty">
            Saved
          </span>
          <span data-ng-if="!saving && brokerageForm.$dirty && brokerageForm.$valid">
            Save
          </span>
          <span data-ng-if="!saving && brokerageForm.$dirty && !brokerageForm.$valid">
            Save ({{ errorCount() }})
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
