<div id="main" class="pure-u" data-ng-controller="HomeCtrl">
  <div class="content header pure-u-1">
    <h1 class="center">Consilium</h1>
    <hr class="soften">
    <h3 class="center">Welcome back!</h3>
  </div>
  <div class="content">
    <div class="client-landing">
      <div class="recent-client">
        <h4>Some of your most recent clients</h4>
        <div data-ng-controller="ClientsRecentCtrl">
          <table class="client-table pure-table pure-table-horizontal pure-table-full-width">
            <thead>
              <tr>
                <th class="name">Name</th>
                <th class="company">Company</th>
                <th class="actions lign-right">View</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-show="!clients.length">
                <td colspan="3">You haven't viewed any clients recently.</td>
              </tr>
              <tr data-ng-repeat="client in clients.slice(0, 3)" data-ng-click="clientClick(client.id)">
                <td class="name">{{ client.name }}</td>
                <td class="company">{{ client.company }}</td>
                <td class="actions align-right">
                  <a data-ng-href="#/clients/show/{{ client.id }}" class="pure-button pure-button-small pure-button-success">
                  <i class="icon-share-alt"></i>
                </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% #This section does not work. %>
      <div class="recent-edit">
        <h4>Most recent edits for client INSERTNAMEHERE</h4>
        <div>
          <table class="document-table pure-table pure-table-horizontal pure-table-full-width">
            <thead>
              <tr>
                <th class="name">Description</th>
                <th class="actions align-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-show="historyLoading">
                <td colspan="2"><i class="icon-spinner icon-spin icon-large"></i> Loading...</td>
              </tr>
              <tr data-ng-show="!historyLoading && historyError">
                <td colspan="2">Must be online to view edit history.</td>
              </tr>
              <tr data-ng-show="!historyLoading && !historyError && !history.length">
                <td colspan="2">No edit history available.</td>
              </tr>
              <tr data-ng-repeat="item in history.slice(0, 3)">
                <td class="description">
                  {{ item.description }}
                  <div class="detail">
                    by <span class="email">{{ item.user_email }}</span> on
                    <span class="date">{{ item.created_at | date: 'medium'}}</span>
                  </div>
                </td>
                <td class="actions align-right">
                  <a data-ng-href="#modalAddgenDocument" modal-toggle data-ng-click="setClientChange(item)"
                     class="pure-button pure-button-small pure-button-primary">
                    <i class="icon-file icon-large"></i>
                  </a>
                  <a data-ng-href="#/clients/edit/{{ clientId }}/{{ item.id }}" class="pure-button pure-button-small pure-button-success">
                    <i class="icon-share-alt icon-large"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
