<div id="main" class="pure-u" data-ng-controller="HomeCtrl">
  <div class="content header pure-u-1">
    <h1 class="center">Consilium</h1>
    <hr class="soften">
    <h3 class="center">Welcome!</h3>
  </div>
  <div class="content">
    <div class="client-landing">
      <div class="recent-client well">
        <h4>Some of your most recent clients</h4>
        <div data-ng-controller="ClientsRecentCtrl">
          <%= render :partial => 'templates/clients/recent_table',
                     :locals => { :limit => 5 } %>
        </div>
      </div>
      <% # TODO: Show the user's name here. %>
      <div class="recent-edit well">
        <h4>Recent changes to clients</h4>
        <div>
          <%= render :partial => 'templates/clients/action_table',
                     :locals => {
                       :name => 'history',
                       :model => 'history',
                       :limit => 5,
                       :rowhref => '#/clients/edit/{{ item.client_id }}/{{ item.id }}',
                       :fields => [
                         {
                           :name => 'Description',
                           :class => 'description',
                           :content => <<-END
                             {{ item.description | ellipsize: 40:1 }}
                             <div class="detail">
                               on client <a data-ng-href="#/clients/show/{{ item.client_id }}" class="pretty link">{{ item.client_name }} </a>
                               by <a data-ng-href="#/users/show/{{ item.user_id }}" class="email link">{{ item.user_email }}</a><br />
                               on <span class="date">{{ item.updated_at | date: 'medium'}}</span>
                             </div>
                           END
                         }
                       ],
                       :actions => [
                         {
                           :class => 'pure-button-success',
                           :icon => 'icon-share-alt',
                           :href => '#/clients/edit/{{ item.client_id }}/{{ item.id }}',
                         }
                       ]
                     } %>
        </div>
      </div>
    </div>
  </div>
</div>
