<div id="main" class="pure-u" data-ng-controller="HomeCtrl">
  <div class="content header pure-u-1">
    <h1 class="center">Consilium</h1>
    <hr class="soften">
    <h3 class="center">Welcome back!</h3>
  </div>
  <div class="content">
    <div class="client-landing">
      <div class="recent-client">
        <h4>Some of your most recent clients</h4>
        <div data-ng-controller="ClientsRecentCtrl">
          <%= render :partial => 'templates/clients/recent_table',
                     :locals => { :limit => 5 } %>
        </div>
      </div>
      <% # TODO: Show the user's name here. %>
      <div class="recent-edit">
        <h4>Recent changes to clients</h4>
        <div>
          <%= render :partial => 'templates/clients/edit_history_table',
                     :locals => { :limit => 5, :main_page => true } %>
        </div>
      </div>
    </div>
  </div>
</div>
