<div id="main" class="pure-u" data-ng-controller="HomeCtrl">
  <div class="content header pure-u-1">
    <h1 class="center">Consilium</h1>
    <hr class="soften">
    <div class="center quick-actions" data-ng-if="isBroker">
      Quick actions:
      <a class="pretty" href="" data-click-href="#/clients/new">Create Client</a>
      <span class="quick-separator">&diams;</span>
      <a class="pretty" href="" data-click-href="#/clients/index">Search for Client</a>
    </div>
    <div class="center quick-actions" data-ng-if="!isBroker">
      Welcome! Here are your applications:
    </div>
  </div>
  <div class="content" data-ng-if="isBroker">
    <div class="client-landing">
      <div class="recent-client">
        <h4>Some of your most recent clients</h4>
        <div data-ng-controller="ClientsRecentCtrl">
          <%= render :partial => 'templates/clients/recent_table',
                     :locals => { :limit => 5 } %>
        </div>
      </div>
      <% # TODO: Show the user's name here. %>
      <div class="recent-edit">
        <h4>Recent changes to clients</h4>
        <div>
          <%= render :partial => 'templates/action_table',
                     :locals => {
                       :name => 'history',
                       :model => 'history',
                       :limit => 5,
                       :rowHref => '#/clients/show/{{ item.client_id }}',
                       :fields => [
                         {
                           :name => 'Description',
                           :id => 'description',
                           :content => <<-END
                             {{ item.description | ellipsize: 40:1 }}
                             <div class="detail">
                               on <a data-ng-href="#/clients/show/{{ item.client_id }}" eat-click>{{ item.client_company }} </a>
                               by <a data-ng-href="#/users/show/{{ item.user_id }}" eat-click>{{ item.user_email }}</a><br />
                               on <span class="date">{{ item.updated_at | date: 'medium'}}</span>
                             </div>
                           END
                         }
                       ],
                       :actions => [:show],
                     } %>
        </div>
      </div>
    </div>
  </div>
  <div class="content" data-ng-if="!isBroker">
    <%= render :partial => 'templates/action_table',
                   :locals => {
                     :field => Client,
                     :rowHref => '#/clients/show/{{ item.id }}',
                     :sortable => {:server_side => true},
                     :fields => getPrimaryFieldsFromModel(Client::FIELDS) | [
                       {
                         :name => 'Updated At',
                         :class => 'updated_at',
                         :content => '{{ item.updated_at*1000 | date: \'MMM d, y hh:mm a\' }}'
                       },
                     ],
                     :actions => [:show],
                   } %>
  </div>
</div>
