<div id="modalAddClientContact" class="modal">
  <div class="layout" data-ng-class="{'active': menuShouldShow()}">
    <div class="header content pure-u-1">
      <h2 class="no-bottom-margin">Add Client Contact</h2>
      <div class="breadcrumbs">
        <a data-ng-href="#/">Home</a>
        <span class="divider">&gt;</span>
        <a data-ng-href="#/clients/new">New Client</a>
        <span class="divider">&gt;</span>
        <a data-ng-href="#/clients/new">Add Client Contact</a>
        <hr class="soften" />
      </div>
    </div>

    <div class="content">
      <div class="client-form">
        <div class="client-form-content">
          <form class="pure-form pure-form-aligned" data-ng-submit="addClientContact()">
            <div class="pure-control-group">
              <label for="name">Name</label>
              <input id="name" name="name" type="text" ng-model="$parent.clientContact.name.value" placeholder="First name Last name" required />
            </div>
            <div class="pure-control-group">
              <label for="title">Title</label>
              <input id="title" name="title" type="text" ng-model="$parent.clientContact.title.value" placeholder="Mr./Ms./Dr. (etc)" />
            </div>
            <div class="separator"></div>
            <div class="pull-right">
              <button type="submit" class="pure-button pure-button-primary">Save</button>
              <button href="#modalAddClientContact" class="pure-button" modal-toggle>Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

