<%= render :partial => 'templates/action_table',
           :locals => {
             :name => 'clients',
             :model => 'clients.clients',
             :limit => local_assigns[:limit],
             :rowHref => '#/clients/show/{{ item.id }}',
             :fields =>  [
               {
                 :name => 'Client',
                 :id => 'client',
                 :content => <<-END
                   {{ item.companyName }}
                   <div class="detail">
                     last viewed on <span class="date">{{ item.timestamp | date: 'medium'}}</span>
                   </div>
                 END
               }
             ],
             :actions => [:show],
           } %>
