<div class="template-editor" ng-show="template.sections">
  <aside>
    This document template has several sections you can edit.<br />
    <ol>
      <li>Download the section you wish to edit.</li>
      <li>Make your desired changes in Microsoft Word, and save.</li>
      <li>Upload the changed document back to the appropriate section.</li>
    </ol>
    Future documents generated will use your updated section.
  </aside>

  <br />

  <form id="templateUploader" action="/api/documents/templates/{{ clientId }}" method="post" enctype="multipart/form-data">
    <input name="upload" type="file" class="hide" />
    <input name="template" type="hidden" value="{{ template.file }}" />
    <input name="section" type="hidden" value="{{ section.id }}" />
  </form>

  <%= render :partial => 'templates/action_table',
             :locals => {
               :name => 'sections',
               :model => 'template.sections',
               :fields => [
                 {
                   :name => 'Template Section',
                   :id => 'section',
                   :content => <<-END
                     <b>{{ item.name }}</b>
                     <div class="detail" ng-show="item.updated_at">
                      Updated by {{ item.updated_by }} on {{ item.updated_at * 1000 | date: 'medium' }}
                     </div>
                     <div class="detail unchanged" ng-show="!item.updated_at">
                      Unchanged
                     </div>
                   END
                 }
               ],
               :actions => [
                 {
                   :class => 'pure-button-success download-button',
                   :icon => 'icon-download-alt icon-fixed-width',
                   :href => '/api/documents/client/{{ clientId }}?template={{ template.file }}&section={{ item.id }}',
                   :attrs => 'timed-spin="3"',
                   :text => <<-END
                      <span class="only-desktops">Download</span>
                      <i class="icon-caret-down icon-fixed-width" data-ng-show="item.updated_by"
                         data-toggle="download-menu-{{ item.id }}" eat-click>
                      </i>
                      <div class="pure-menu pure-menu-open hide" id="download-menu-{{ item.id }}">
                        <ul click-href="/api/documents/client/{{ clientId }}?template={{ template.file }}&section={{ item.id }}&original=true" data-toggle="download-menu-{{ item.id }}">
                          <li>
                            Download Original
                          </li>
                        </ul>
                      </div>
                   END
                 },
                 {
                   :class => 'pure-button-primary upload-button',
                   :icon => '{{ uploading == item.id ? "icon-spin icon-spinner" : "icon-upload-alt" }} icon-fixed-width',
                   :text => '<span class="only-desktops">Upload</span>',
                   :click => 'uploadSection(item)',
                 },
               ]
             } %>
</div>

<div ng-show="!template.sections.length">
  <p>This document template cannot be customized.</p>
</div>

<p>
  <button class="pure-button pure-button-primary"
          data-click-href="/api/documents/client/{{ clientId }}?template={{ template.file }}"
          timed-spin="3">
    Preview Final Document
  </button>
</p>
