<div class="template-editor" ng-show="template.sections">
  <aside>
    This template has several sections you can edit.<br />
    Download the section you want to edit, make the desired changes, and re-upload it.
  </aside>

  <br />

  <form id="templateUploader" action="/api/documents/templates/{{ clientId }}" method="post" enctype="multipart/form-data">
    <input name="upload" type="file" class="hide" />
    <input name="template" type="hidden" value="{{ template.file }}" />
    <input name="section" type="hidden" value="{{ section.id }}" />
  </form>

  <%= render :partial => 'templates/action_table',
             :locals => {
               :name => 'sections',
               :model => 'template.sections',
               :fields => [
                 {
                   :name => 'Section',
                   :id => 'section',
                   :content => <<-END
                     <b>{{ item.name }}</b>
                     <div class="detail" ng-show="item.updated_at">
                      Updated by {{ item.updated_by }} on {{ item.updated_at * 1000 | date: 'medium' }}
                     </div>
                     <div class="detail" ng-show="!item.updated_at">
                      Unchanged
                     </div>
                   END
                 }
               ],
               :actions => [
                 {
                   :class => 'pure-button-success',
                   :icon => 'icon-download-alt',
                   :text => 'Original',
                   :href => '/api/documents/client/{{ clientId }}?template={{ template.file }}&section={{ item.id }}&original=true',
                   :attrs => 'data-ng-show="item.updated_by" no-spin="true"',
                 },
                 {
                   :class => 'pure-button-success',
                   :icon => 'icon-download-alt',
                   :text => '<span class="only-desktops">Download</span>',
                   :href => '/api/documents/client/{{ clientId }}?template={{ template.file }}&section={{ item.id }}',
                   :attrs => 'no-spin="true"',
                 },
                 {
                   :class => 'pure-button-primary upload-button',
                   :icon => '{{ uploading == item.id ? "icon-spin icon-spinner" : "icon-upload-alt" }} icon-fixed-width',
                   :text => '<span class="only-desktops">Upload</span>',
                   :click => 'uploadSection(item)',
                 },
               ]
             } %>
</div>

<div ng-show="!template.sections.length">
  <p>This template cannot be customized.</p>
</div>

<p>
  <button class="pure-button pure-button-primary"
          data-click-href="/api/documents/client/{{ clientId }}?template={{ template.file }}"
          no-spin="true">
    Preview Generated Document
  </button>
</p>
