<div class="pure-form center-content">
  <div class="center-content-inner">
    <div class="center">
    <h2>Search for a Client</h2>
      <div class="search">
        <input id="search" type="text" class="pure-input" placeholder="Name, email, or company" autocomplete="off">
        <button class="pure-button pure-button-small pure-button-primary"><i class="icon-search icon-fixed-width"></i></button>
      </div>
    </div>

    <br>
    <br>

    <table id="results" class="pure-table pure-table-horizontal pure-table-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th class="align-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Romero</td>
          <td>Smith &amp; Co.</td>
          <td class="align-right"><a data-ng-href="#" class="pure-button pure-button-small pure-button-success"><i class="icon-share-alt"></i></a></td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>Canadian Tire</td>
          <td class="align-right"><a class="pure-button pure-button-small pure-button-success"><i class="icon-share-alt"></i></a></td>
        </tr>
        <tr>
          <td>John McKenzie</td>
          <td>McKenzie Trucking Ltd.</td>
          <td class="align-right"><a class="pure-button pure-button-small pure-button-success"><i class="icon-share-alt"></i></a></td>
        </tr>
        <tr>
          <td>Gerald Johnson</td>
          <td>Suder Construction Inc.</td>
          <td class="align-right"><a class="pure-button pure-button-small pure-button-success"><i class="icon-share-alt"></i></a></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</form>