<div id="main" class="pure-u" data-ng-controller="ClientsIndexCtrl">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      Clients
    </h2>

    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Clients" => "#/clients/",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content">
    <div class="table-header">
      <div class="table-search search-controls">
        <form class="pure-form">
          <div class="pure-control-group">
            <input id="search" type="text" class="pure-input" placeholder="Search" autocomplete="off" data-ng-model="query">
            <% # TODO: This is too poorly done for now. We should come back to it. %>
            <% #<i class="icon-spinner icon-spin spinner" data-ng-class="loading && 'loading'"></i> %>
            <button id="btnSearch" class="pure-button pure-button-small pure-button-primary">
              <i class="icon-search"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="table-buttons">
        <button class="pure-button pure-button-success pure-button-xlarge" data-click-href="#/clients/new">
          <i class="icon-plus"></i><span class="only-desktops"> Create Client</span>
        </button>
      </div>
    </div>

    <%= render :partial => 'templates/clients/action_table',
               :locals => {
                 :name => 'clients',
                 :model => 'clients',
                 :infiniteScroll => 'updateResults(true)',
                 :rowHref => '#/clients/show/{{ item.id }}',
                 :sortable => {},
                 :fields => [
                   {
                     :name => 'Company',
                     :class => 'company',
                     :content => '{{ item.company.value }}'
                   },
                   {
                     :name => 'Name',
                     :class => 'name',
                     :content => '{{ item.name.value }}'
                   },
                   {
                     :name => 'Updated At',
                     :class => 'updated_at',
                     :content => '{{ item.updated_at | date: \'short\' }}'
                   },
                   {
                     :name => 'Created At',
                     :class => 'created_at',
                     :content => '{{ item.created_at | date: \'short\' }}'
                   }
                 ],
                 :actions => [
                   {
                     :class => 'pure-button-success',
                     :icon => 'icon-share-alt',
                     :href => '#/clients/show/{{ item.id }}',
                   }
                 ]
               } %>
  </div>
</div>
