<div data-ng-controller="ClientsIndexCtrl" class="pure-form center-content">
  <div class="center-content-inner">
    <div class="center">
    <h2>Search for a Client</h2>
      <div class="search">
        <input id="search" type="text" class="pure-input" placeholder="Name, email, or company" autocomplete="off" data-ng-model="query">
        <span data-ng-show="loading" class="loading"><i class="icon-spinner icon-spin"></i></span>
        <button class="pure-button pure-button-small pure-button-primary"><i class="icon-search icon-fixed-width"></i></button>
      </div>
    </div>

    <br>
    <br>

    <table data-infinite-scroll data-update="updateResults(true)" id="results" class="pure-table pure-table-horizontal pure-table-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th class="align-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-show="error">
          <td colspan="3">Could not load results. Please try again later</td>
        </tr>
        <tr data-ng-show="!error && !clients.length && !loading">
          <td colspan="3">No clients matching your search criteria.</td>
        </tr>
        <tr data-ng-repeat="client in clients">
          <td>{{ client.name.value }}</td>
          <td>{{ client.company.value }}</td>
          <td class="align-right">
            <a data-ng-href="#/clients/{{ client.id }}" class="pure-button pure-button-small pure-button-success">
              <i class="icon-share-alt"></i>
            </a>
          </td>
        </tr>
        <tr id="loading" data-ng-show="loading && (!clients.length || moreResults)">
          <td colspan="3"><i class="icon-spinner icon-spin icon-large"></i> Loading results...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>