<div id="main" class="pure-u" data-ng-controller="ClientsIndexCtrl">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      Clients
    </h2>

    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Clients" => "#/clients/index",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content">
    <div class="table-header">
      <div class="table-buttons">
        <button class="pure-button pure-button-success pure-button-xlarge" data-click-href="#/clients/new">
          <i class="icon-plus"></i><span class="only-desktops"> Create Client</span>
        </button>
      </div>
      <div class="table-search search-controls">
        <form class="pure-form">
          <div class="pure-control-group">
            <input id="search" type="text" class="pure-input" placeholder="Search" autocomplete="off" data-ng-model="query" autofocus>
            <button id="btnSearch" class="pure-button pure-button-small pure-button-primary">
              <i class="icon-search" data-ng-show="!loading"></i>
              <i class="icon-spinner icon-spin spinner" data-ng-show="loading"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <%= render :partial => 'templates/action_table',
               :locals => {
                 :name => 'clients',
                 :model => 'clients',
                 :infiniteScroll => 'updateResults(true)',
                 :rowHref => '#/clients/show/{{ item.id }}',
                 :sortable => {:server_side => true},
                 :fields => getPrimaryFieldsFromModel(Client::FIELDS) | [
                   {
                     :name => 'Updated At',
                     :id => 'updated_at',
                     :content => '{{ item.updated_at*1000 | date: \'MMM d, y hh:mm a\' }}'
                   },
                   {
                     :name => 'Created At',
                     :id => 'created_at',
                     :content => '{{ item.created_at*1000 | date: \'MMM d, y hh:mm a\' }}'
                   }
                 ],
                 :actions => [
                   {
                     :class => 'pure-icon',
                     :icon => 'icon-angle-right',
                     :href => '#/clients/show/{{ item.id }}',
                   }
                 ]
               } %>
  </div>
</div>
