<%
  sections = [
    {
      :name => 'Basic Info',
      :model => 'basicInfo',
      :fields => nil,
    },
    {
      :name => 'Client Contacts',
      :model => 'clientContacts',
      :fields => [
        {
          :name => 'name',
          :label => 'Name',
          :placeholder => 'First name Last name',
          :type => 'text',
        },
        {
          :name => 'title',
          :label => 'Title',
          :placeholder => 'Mr./Mrs./Dr. (etc)',
          :type => 'text',
        },
      ],
    },
    {
      :name => 'Business Ops',
      :model => 'businessOps',
      :fields => [
        {
          :name => 'name',
          :label => 'Name',
          :placeholder => 'test',
          :type => 'text',
        },
      ],
    },
    {
      :name => 'Claims Info',
      :model => 'claimsInfos',
      :fields => [
        {
        },
      ],
    },
    {
      :name => 'Prev. Policy Info',
      :model => 'prevPolicyInfos',
      :fields => [
        {
        },
      ],
    },
    {
      :name => 'Liability Info',
      :model => 'liabilityInfos',
      :fields => [
        {
        },
      ],
    },
    {
      :name => 'Misc. Notes',
      :model => 'miscNotes',
      :fields => [
        {

        },
      ],
    },
    {
      :name => 'Coverage Schedule',
      :model => 'coverageSchedules',
      :fields => [
        {

        },
      ],
    },
    {
      :name => 'Properties',
      :model => 'properties',
      :fields => [
        {
        },
      ],
    },
    {
      :name => 'Umbrella/Machinery',
      :model => 'umbrellaMachinery',
      :fields => [
        {
        },
      ],
    },
    {
      :name => 'Photos',
      :model => 'photos',
      :fields => nil,
    },
  ]
%>

<% sections.each do |section| %>
  <% if not section[:fields].nil? %>
    <%= render :partial => 'templates/clients/field_modal',
               :locals => { :section => section } %>
  <% end %>
<% end %>

<div data-ng-controller="ClientsNewCtrl">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">Create Client</h2>
    <div class="breadcrumbs">
      <a data-ng-href="#/">Home</a>
      <span class="divider">&gt;</span>
      <a data-ng-href="#/clients/new">New Client</a>
      <hr class="soften" />
    </div>
  </div>

  <div class="content">
    <div class="client-form">
      <div class="client-form-nav">
        <div scroll-fix>
          <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading">Sections</a>
            <ul>
              <% sections.each do |section| %>
                <li><a href="" data-ng-click="scrollTo('<%= section[:model] %>')"><%= section[:name] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="client-form-content">
        <form name="newClient" class="pure-form pure-form-aligned" data-ng-submit="submitNewClient()">
          <div class="section" id="basicInfo">
            <h3 class="no-top-margin">Basic Info.</h3>
          </div>

          <div class="separator-xsmall"></div>

          <div class="pure-control-group">
            <label for="name">Name</label>
            <input name="name" type="text" ng-model="client.name.value" placeholder="First name Last name" required />
          </div>
          <div class="pure-control-group">
            <label for="address">Address</label>
            <input name="name" type="text" ng-model="client.address.value" placeholder="Address (apt., suite, bldg.)" required />
          </div>
          <div class="pure-control-group">
            <label for="city_and_province">City and Province</label>
            <input name="city_and_province" ng-model="client.city_and_province.value" placeholder="City, Province" required />
          </div>
          <div class="pure-control-group">
            <label for="phone">Phone</label>
            <input name="phone" ng-model="client.phone.value" placeholder="Area code-phone number" required />
          </div>

          <div class="separator"></div>

          <% sections.each do |section| %>
            <% if not section[:fields].nil? %>
              <%= render :partial => 'templates/clients/field_table',
                         :locals => { :section => section } %>
            <% end %>
          <% end %>

          <div id="photos" class="section">
            <a class="pull-right pure-button pure-button-primary">
              <i class="icon-plus"></i> Add<span class="verbose-desc"> Photo</span>
            </a>
            <h3>Photos</h3>
          </div>

          <p>Your code goes here.</p>
        </form>
      </div>
    </div>
  </div>

  <div id="toolbar" data-ng-class="{'active': menuShouldShow()}">
    <div class="content">
      <a class="pure-button pure-button-secondary pure-button-large" data-ng-class="{'pure-button-disabled': !dirty}"
         data-ng-click="saveForm()">
        <span data-ng-if="saving">
          <i class="icon-spinner icon-spin"></i> Saving...
        </span>
        <span data-ng-if="!saving && !dirty">
          Saved
        </span>
        <span data-ng-if="!saving && dirty">
          Save
        </span>
      </a>
      <a class="pure-button pure-button-primary pure-button-large">Done</a>
    </div>
  </div>
</div>
