<div id="main" class="pure-u" data-ng-controller="ClientsRecentCtrl">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">Recent Clients</h2>
    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Clients" => "#/clients/",
          "Recent Clients" => "#/clients/recent",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content">
    <%= render :partial => 'templates/clients/recent_table',
               :locals => {:limit => false } %>
  </div>
</div>
