<% paths = {
     "Home" => "#/",
     "Clients" => "#/clients/index",
     "{{ client.company.value }}" => "#/clients/show/{{ clientId }}",
   }
 %>

<div id="main" data-ng-controller="ClientsShowCtrl" class="pure-form pure-u">
 <%= render :partial => 'templates/field_modal',
            :locals => {
              :field => {
                :name => 'Generated Documents',
                :id => 'genDocument',
                :required => true,
                :type => [
                  {
                    :name => 'From Change',
                    :id => 'changeDescription',
                    :readonly => true,
                    :type => 'text'
                  },
                  {
                    :name => 'Description',
                    :id => 'description',
                    :placeholder => 'Enter a description here...',
                    :required => true,
                    :type => 'text'
                  },
                  {
                    :name => 'Template',
                    :id => 'template',
                    :placeholder => 'Submission Template',
                    :type => 'dropdown',
                    :options => []
                  },
                ]
              },
              :page => 'Clients',
              :page_url => '#/clients/',
              :page_title => 'View Client',
              :syncable => false,
              :title => 'Generate Document',
              :submit_text => 'Generate & Download',
              :submit_callback => 'generateDocument()',
              :paths => paths
            } %>

  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      <i data-ng-show="loading" class="icon-spinner icon-spin"></i>
      <span data-ng-show="!loading">{{ client.company.value }}</span>
    </h2>
    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => paths }
     %>
  </div>
  <hr class="soften" />

  <div class="content">
    <a class="pure-button pure-button-secondary pure-button-large" data-ng-click="genFromRecent()"
       data-ng-show="history.length">
      <i class="icon-file"></i><span class="desc"><span class="only-desktops"> Generate</span> Document</span>
    </a>
  </div>

  <div class="content client-show">
    <div class="client-info pure-form pure-form-aligned well">
      <div class="section" id="basicInfo">
        <div class="client-buttons pull-right">
          <a class="pure-button pure-button-primary pure-button-large"
             data-click-href="#/clients/edit/{{ clientId }}">
            <i class="icon-edit"></i><span class="desc"> Edit Client Details</span>
          </a>
        </div>
        <h3 class="no-top-margin">Client Summary</h3>
      </div>

      <div data-ng-show="loading">
        <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
      </div>
      <div data-ng-show="!loading">
        <div class="pure-control-group">
          <label for="name">Company</label>
          <span class="value">{{ client.company.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="address">Address</label>
          <span class="value">{{ client.address.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="city_and_province">City and Province</label>
          <span class="value">{{ client.city.value }} {{ client.province.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="phone">Phone</label>
          <span class="value">{{ client.phone.value }}</span>
        </div>
      </div>
    </div>

    <div class="client-docs well">
      <div class="section" id="basicInfo">
        <h3 class="no-top-margin">History</h3>
      </div>
      <%= render :partial => 'templates/action_table',
                 :locals => {
                   :name => 'history',
                   :model => 'history',
                   :pagination => true,
                   :rowHref => '#/clients/edit/{{ item.client_id }}?change={{ item.id }}',
                   :fields => [
                     {
                       :name => 'Description',
                       :class => 'description',
                       :content => <<-END
                         <b>{{ pageGetIndex('history', $index) == 0 ? "Current revision: " : "" }}</b>
                         {{ item.description | ellipsize: (pageGetIndex('history', $index) == 0 ? 20 : 40):1 }}
                         <div class="detail">
                           by <a data-click-href="#/users/show/{{ item.user_id }}" class="email">{{ item.user_email }}</a>
                           <span class="except-desktops"><br /></span>
                           on <span class="date">{{ item.updated_at | date: 'MMM d, y h:mm a' }}</span>
                         </div>
                       END
                     }
                   ],
                   :actions => [
                     #{
                     #  :class => 'pure-button-success',
                     #  :icon => 'icon-file',
                     #  :click => 'setClientChange(item, pageGetIndex("history", $index))',
                     #  :attrs => 'modal-toggle="genDocument"',
                     #},
                     {
                       :class => 'pure-icon',
                       :icon => 'icon-angle-right',
                       :href => '#/clients/edit/{{ item.client_id }}?change={{ item.id }}',
                     },
                   ]
                 } %>
      <div class="paginator" paginator="history"></div>
    </div>

    <!-- <div class="client-docs well">
      <div class="section" id="basicInfo">
        <h3 class="no-top-margin">Generated Documents</h3>
      </div>
      <%= render :partial => 'templates/action_table',
                 :locals => {
                   :name => 'documents',
                   :model => 'documents',
                   :rowHref => '/api/documents/{{ item.id }}',
                   :fields => [
                     {
                       :name => 'Description',
                       :class => 'description',
                       :content => <<-END
                         {{ item.description | ellipsize: 40:1 }}
                         <div class="detail">
                           generated by <a data-ng-href="#/users/show/{{ item.user_id }}" class="email">{{ item.user_email }}</a>
                           <span class="except-desktops"><br /></span>
                           on <span class="date">{{ item.updated_at | date: 'MMM d, y h:mm a' }}</span>
                         </div>
                       END
                     }
                   ],
                   :actions => [
                     {
                       :class => 'pure-button-success',
                       :icon => 'icon-download-alt',
                       :href => '/api/documents/{{ item.id }}',
                     }
                   ]
                 } %>
    </div> -->
  </div>
</div>
