<div id="main" data-ng-controller="ClientsShowCtrl" class="pure-form pure-u">
 <%= render :partial => 'templates/clients/field_modal',
            :locals => {
              :field => {
                :name => 'Generated Documents',
                :id => 'genDocument',
                :required => true,
                :type => [
                  {
                    :name => 'Description',
                    :id => 'description',
                    :placeholder => 'Enter a description here...',
                    :required => true,
                    :type => 'text'
                  },
                  {
                    :name => 'Template',
                    :id => 'template',
                    :placeholder => 'Default',
                    :type => 'dropdown',
                    :options => []
                  },
                  {
                    :name => 'From Change',
                    :id => 'changeDescription',
                    :disabled => true,
                    :type => 'text'
                  }
                ]
              },
              :submit_callback => 'generateDocument()'
            } %>

  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      <i data-ng-show="loading" class="icon-spinner icon-spin"></i>
      <span data-ng-show="!loading">{{ client.name.value }}</span>
    </h2>
    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => {
          "Home" => "#/",
          "Clients" => "#/clients/",
          "{{ client.name.value }}" => "#/clients/show/{{ clientId }}",
        }}
     %>
  </div>
  <hr class="soften" />

  <div class="content client-show">
    <div class="client-info pure-form pure-form-aligned well">
      <div class="section" id="basicInfo">
        <div class="client-buttons pull-right">
          <a class="pure-button pure-button-primary"
             data-ng-href="#/clients/edit/{{ clientId }}">
            <i class="icon-edit"></i><span class="desc"><span class="only-desktops"> View and</span> Edit</span>
          </a>
        </div>
        <h3 class="no-top-margin">Client Info.</h3>
      </div>

      <div data-ng-show="loading">
        <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
      </div>
      <div data-ng-show="!loading">
        <div class="pure-control-group">
          <label for="name">Name</label>
          <span class="value">{{ client.name.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="address">Address</label>
          <span class="value">{{ client.address.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="city_and_province">City and Province</label>
          <span class="value">{{ client.cityAndProvince.value }}</span>
        </div>
        <div class="pure-control-group">
          <label for="phone">Phone</label>
          <span class="value">{{ client.phone.value }}</span>
        </div>
      </div>
    </div>

    <div class="client-docs well">
      <div class="section" id="basicInfo">
        <h3 class="no-top-margin">Edit History</h3>
      </div>
      <%= render :partial => 'templates/clients/action_table',
                 :locals => {
                   :name => 'history',
                   :model => 'history',
                   :rowHref => '#/clients/edit/{{ item.client_id }}/{{ item.id }}',
                   :fields => [
                     {
                       :name => 'Description',
                       :class => 'description',
                       :content => <<-END
                         {{ item.description | ellipsize: 40:1 }}
                         <div class="detail">
                           by <a data-ng-href="#/users/show/{{ item.user_id }}" class="email">{{ item.user_email }}</a>
                           <span class="except-desktops"><br /></span>
                           on <span class="date">{{ item.updated_at | date: 'MMM d, y h:mm a' }}</span>
                         </div>
                       END
                     }
                   ],
                   :actions => [
                     {
                       :class => 'pure-button-primary',
                       :icon => 'icon-file',
                       :click => 'setClientChange(item)',
                       :attrs => 'modal-toggle="genDocument"',
                     },
                     {
                       :class => 'pure-button-success',
                       :icon => 'icon-share-alt',
                       :href => '#/clients/edit/{{ item.client_id }}/{{ item.id }}',
                     }
                   ]
                 } %>
    </div>

    <div class="client-docs well">
      <div class="section" id="basicInfo">
        <h3 class="no-top-margin">Documents</h3>
      </div>
      <%= render :partial => 'templates/clients/action_table',
                 :locals => {
                   :name => 'documents',
                   :model => 'documents',
                   :rowHref => '/api/documents/{{ item.id }}',
                   :fields => [
                     {
                       :name => 'Description',
                       :class => 'description',
                       :content => <<-END
                         {{ item.description }}
                         <div class="detail">
                           by <a data-ng-href="#/users/show/{{ item.user_id }}" class="email">{{ item.user_email }}</a>
                           <span class="except-desktops"><br /></span>
                           on <span class="date">{{ item.updated_at | date: 'MMM d, y h:mm a' }}</span>
                         </div>
                       END
                     }
                   ],
                   :actions => [
                     {
                       :class => 'pure-button-success',
                       :icon => 'icon-download-alt',
                       :href => '/api/documents/{{ item.id }}',
                     }
                   ]
                 } %>
    </div>
  </div>
</div>
