<% paths = {
     "Home" => "#/",
     "Clients" => "#/clients/index",
     "{{ client.company_name.value }}" => "#/clients/show/{{ clientId }}",
     "Edit Document Templates" => "#/clients/templates/{{ clientId }}",
   }
 %>

<div data-ng-controller="ClientsTemplatesCtrl">
  <%= render :partial => 'templates/field_modal',
             :locals => {
               :field => {
                 :id => 'templateEditor',
                 :modalPartial => 'templates/clients/template_editor',
               },
               :page => 'Clients',
               :page_url => '#/clients/',
               :title => '{{ template.name }} Template',
               :root => local_assigns[:root],
               :paths => paths,
             } %>

  <div class="client-header" data-ng-class="{'active': menuShouldShow()}">
    <div class="content header pure-u-1">
      <h2 class="no-bottom-margin">
        <i data-ng-show="loading" class="icon-spinner icon-spin"></i>
        <span data-ng-show="!loading">Edit Document Templates: {{ client.company_name.value }}</span>
      </h2>
      <%= render :partial => 'templates/breadcrumbs',
                 :locals => { :paths => paths }
      %>
    </div>
    <hr class="soften no-bottom-margin" />
  </div>

  <div id="main" class="client-templates pure-form pure-u">
    <div class="content has-header" data-ng-show="!clientChangeId">
      <%= render :partial => 'templates/action_table',
                   :locals => {
                     :name => 'templates',
                     :model => 'templates',
                     :pagination => true,
                     :rowClick => 'editTemplate(item)',
                     :fields => [
                       {
                         :name => 'Document Template Name',
                         :id => 'name',
                         :content => <<-END
                           <b>{{ item.name }} Template</b>
                           <div class="detail" ng-show="item.updated_at">
                            Updated on {{ item.updated_at * 1000 | date: 'medium' }}
                           </div>
                           <div class="detail unchanged" ng-show="!item.updated_at">
                            Unchanged
                           </div>
                         END
                       }
                     ],
                     :actions => [
                      {
                        :class => 'pure-button-primary {{ !item.sections.length && "pure-button-disabled" }}',
                        :icon => 'icon-edit',
                        :click => 'editTemplate(item)',
                      }
                     ]
                   } %>

      <br />
      <button class="pure-button pure-button-primary" data-click-href="#/clients/show/{{ clientId }}">
        <i class="icon-level-up"></i> Up to Locations
      </button>
    </div>
    <div class="content has-header" data-ng-show="clientChangeId">
      <div data-ng-show="loading">
        <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
      </div>
      <div data-ng-show="!loading">
        <aside data-ng-show="clientChange" class="edit-description">
          <b>{{ clientChange.user.email }}</b> made this change on {{ clientChange.updated_at*1000 | date: 'MMM d, y h:mm a' }}:<br />
          <div class="description">{{ clientChange.description }}</div>
        </aside>

        The section {{ clientChange.section_name }} was updated.
        <span data-ng-show="clientChange.reverted">
          <b>This change has been reverted.</b>
        </span>

        <p>
          <button class="pure-button pure-button-primary"
                  data-click-href="/api/documents/client/{{ clientId }}?template={{ clientChange.template }}&section={{ clientChange.section_id }}&original=true"
                  timed-spin="3">
            <i class="icon-download-alt"></i> Original
          </button>
          <button class="pure-button pure-button-primary"
                  data-ng-show="clientChange.old_section_id
                  "
                  data-click-href="/api/documents/client/{{ clientId }}?template={{ clientChange.template }}&version={{ clientChange.old_section_id }}"
                  timed-spin="3">
            <i class="icon-download-alt"></i> Previous Version
          </button>
          <button class="pure-button pure-button-primary"
                  data-click-href="/api/documents/client/{{ clientId }}?template={{ clientChange.template }}&version={{ clientChange.new_section_id }}"
                  timed-spin="3">
            <i class="icon-download-alt"></i> Updated Version
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
