<div data-ng-controller="ClientsViewCtrl" class="pure-form">
  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      <i data-ng-show="!client.name" class="icon-spinner icon-spin"></i>
      <span data-ng-show="client.name">{{ client.name.value }}</span>
    </h2>
    <div class="breadcrumbs">
      <a data-ng-href="#/">Home</a>
      <span class="divider">&gt;</span>
      <a data-ng-href="#/clients/">Clients</a>
      <span class="divider">&gt;</span>
      <a data-ng-href="#/clients/view/{{ clientId }}">View Client</a>
      <hr class="soften" />
    </div>
  </div>
  <div class="content client-view">
    <div class="client-info pure-form pure-form-aligned">
      <div class="section" id="basicInfo">
        <div class="label-box">
          <table>
            <tr>
              <td>
                <h3 class="no-top-margin no-bottom-margin">Client Info.</h3>
              </td>
              <td>
                <a class="pure-button pure-button-primary level" data-ng-href="#/clients/edit/{{ clientId }}">
                  <i class="icon-edit"></i><span class="desc"><span class="verbose-desc"> View and</span> Edit</span>
                </a>
              </td>
              <td>
                <a class="pure-button pure-button-error level"
                   data-ng-click="deleteClient()">
                  <i class="icon-trash"></i><span class="desc"> Delete</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="pure-control-group">
        <label for="name">Name</label>
        <span class="value">{{ client.name.value }}</span>
      </div>
      <div class="pure-control-group">
        <label for="address">Address</label>
        <span class="value">{{ client.address.value }}</span>
      </div>
      <div class="pure-control-group">
        <label for="city_and_province">City and Province</label>
        <span class="value">{{ client.cityAndProvince.value }}</span>
      </div>
      <div class="pure-control-group">
        <label for="phone">Phone</label>
        <span class="value">{{ client.phone.value }}</span>
      </div>
    </div>
    <div class="client-docs">
      <div class="section" id="basicInfo">
        <div class="lable-box">
          <table>
            <tr>
              <td>
              <h3 class="no-top-margin no-bottom-margin">Documents</h3>
              </td>
              <td>
                <a class="pull-right pure-button pure-button-primary level">
                  <i class="icon-plus"></i> Generate<span class="verbose-desc"> Policy Request</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>