<div id="home" class="section header-section">
  <div class="hero-unit">
    <h2>Make your brokerage <strong>paperless</strong>.</h2>
    <ul>
      <li><h3>Enter and track data easily.</h3></li>
      <li><h3>Generate proposals and submissions in seconds.</h3></li>
      <li><h3>Track your brokerage's cost savings.</h3></li>
    </ul>
    <br>
    <div class="center">
      <%= link_to 'Learn More', new_user_registration_path, :class => 'pure-button pure-button-primary pure-button-2x' %>
    </div>
  </div>

  <div class="features" style="display: none;">
    <h3>We make data entry and management easy.</h3>
    <h3>Automate your brokerage.</h3>
    <h3>Update information easily.</h3>
    <br>
    <div class="center">
      <%= link_to 'Sign Up', new_user_registration_path, :class => 'pure-button pure-button-primary pure-button-2x' %>
    </div>
  </div>
</div>

<div style="clear:both"></div>

<div id="features" class="section">
  you can do stuff and shit with this shit
</div>

<h1>Consilium</h1>

<h3>We make data entry and management easy.</h3>
<p>Instead of re-entering information each time a new system is used, enter it once and be done with it.</p>

<h3>Automate your brokerage.</h3>
<p>Effortlessly generate contracts and files with the correct information already filled in.</p>

<h3>Update information easily.</h3>
<p>Add new contract templates and check each record’s history. When a piece of information is changed, the client or broker can easily update it for approval.</p>

