<div ng-controller="ClientsCtrl">
  <div id="clients-list-container">
    <ul>
      <li ng-repeat="client in clients">
      <h3>{{client.id}} <small>({{client.name}})</small></h3>
      </li>
    </ul>
  </div>
</div>
