<h1>Consilium</h1>

<h3>We make data entry and management easy.</h3>
<p>Instead of re-entering information each time a new system is used, enter it once and be done with it.</p>

<h3>Automate your brokerage.</h3>
<p>Effortlessly generate contracts and files with the correct information already filled in.</p>

<h3>Update information easily.</h3>
<p>Add new contract templates and check each record’s history. When a piece of information is changed, the client or broker can easily update it for approval.</p>

<div class="separator"></div>

<div class="center">
  <%= link_to 'Sign Up', new_user_registration_path, :class => 'pure-button pure-button-primary pure-button-2x' %>
</div>
