<% content_for :navbar do %>
  <div class="title">Consilium</div>
<% end %>

<% if params.has_key?(:error) %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:notice] %>
  </div>
  <br />
<% end %>

<% if params.has_key?(:success) %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:success] %>
  </div>
  <br />
<% end %>

<h1 class="center">Consilium</h1>
<div class="buttons">
  <%= link_to 'Create New Client', new_user_registration_path, :class => 'pure-button' %><br />
  <%= link_to 'Find Existing Client', find_user_registration_path, :class => 'pure-button' %><br />
</div>
