<% environment.context_class.instance_eval { include ActionView::Helpers } %>
<% environment.context_class.instance_eval { include HostHelper } %>

App.controller 'ClientsShowCtrl', ['$scope', '$routeParams', '$location', '$filter', 'Client', 'ClientChange', 'Document', 'Download', 'RecentClients', 'DocumentTemplate', 'Auth', 'Modal',\
                                   ($scope, $routeParams, $location, $filter, Client, ClientChange, Document, Download, RecentClients, DocumentTemplate, Auth, Modal) ->
  Auth.checkLogin()
  $scope.isBroker = Auth.isBroker()

  $scope.title.text = 'Client Profile'
  $scope.clientId = $routeParams.clientId
  $scope.loading = $scope.historyLoading = $scope.documentsLoading = true
  $scope.historyError = $scope.documentsError = false
  $scope.client = Client.get({id: $scope.clientId},
    (->
      $scope.loading = false
      $scope.title.text = $scope.client.company_name.value
      RecentClients.logClientShow($scope.client)
      $scope.history = ClientChange.query({client_id: $scope.client.id, short: true},
        (-> $scope.historyLoading = false),
        (->
          $scope.historyLoading = false
          $scope.historyError = true)
      )
      $scope.documents = Document.query({client_id: $scope.client.id},
        (-> $scope.documentsLoading = false),
        (->
          $scope.documentsLoading = false
          $scope.documentsError = true)
      )
      template_select = $('select[name=template]')
      # Add a loading indicator in place of the select
      template_select.hide()
      template_loading = $('<i class="icon-large icon-spin icon-spinner"></i>')
      template_select.parent().prepend(template_loading)
      $scope.templates = DocumentTemplate.query({client_id: $scope.client.id},
        (->
          template_select.show()
          template_loading.remove()
          for template in $scope.templates
            template_select.append("<option>#{template.name}</option>")))
    ),
    (data, header) ->
      RecentClients.removeClient($scope.clientId)
      $location.url('/clients/notfound')
      $location.replace()

  $scope.deleteClient = ->
    # TODO: should be modal
    if confirm('Are you sure? This will delete the client for all other users.')
      $scope.client.$delete()
      $location.url('/clients/index'))

  $scope.setClientChange = (change, index) ->
    doc = ($scope.genDocument ||= {})
    doc.changeDescription =
      change.description + ' by ' + change.user?.email + ' at ' + $filter('date')(change.updated_at*1000, 'medium')
    if index == 0
      doc.changeDescription = "Current revision (#{doc.changeDescription})"
    doc.description = change.client?.company_name?.value
    doc.client_change_id = change.id

  $scope.genFromRecent = ->
    if $scope.history.length
      $scope.setClientChange($scope.history[0], 0)
      Modal.toggleModal('genDocument')

  $scope.generating = false
  $scope.generateDocument = ->
    d = new Document($scope.genDocument)
    $scope.generating = true
    d.$save((data, header) ->
      $scope.documents.splice(0, 0, d)
      $scope.generating = false
      filename = d.description
      if !filename.match(/\.$/)
        filename += '.'
      filename += 'docx'
      Download.downloadURL(Auth.wrapURL("<%= angularApiPath('/api/documents/#{d.id}') %>"), filename)
    , (data, header) ->
      $scope.generating = false
      alert('Error occurred generating document.')
    )

    # Preserve the original object; it's referred to by a writeNode
    angular.copy({}, $scope.genDocument)
    Modal.toggleModal('genDocument')

  $scope.deleteDocument = (index) ->
    # TODO: should be modal
    if confirm('Are you sure? This will delete the document for all other users.')
      $scope.documents[index].$delete()
      $scope.documents.splice(index, 1)
]
