<table class="pure-table pure-table-horizontal pure-table-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th class="align-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-show="!items.length">
      <td><em>None</em></td>
      <td></td>
    </tr>
    <tr data-ng-repeat="item in items">
      <td>{{ item.name }}</td>
      <td class="align-right">
        <a class="pure-button pure-button-small"><i class="icon-edit icon-large"></i></a>
        <a class="pure-button pure-button-small"><i class="icon-trash icon-large"></i></a>
      </td>
    </tr>
  </tbody>
</table>
