<h1>Test</h1>
<div>
  <div id="clients-list-container">
    <ul>
      <li data-ng-repeat="client in clients">
        <h3><a ng-href="#/clients">{{client.name}}</a><input type="text" ng-model="client.name" value="{{ client.name }}" /></h3>
      </li>
    </ul>
  </div>
</div>
