<h2>Create Client</h2>
<div class="breadcrumbs">
  <a data-ng-href="#/">Home</a>
  <span class="divider">&gt;</span>
  <a data-ng-href="#/clients/new">New Client</a>
</div>

<form name="newClient" class="pure-form pure-form-aligned" data-ng-submit="submitNewClient()">
  <div class="pure-control-group">
    <label for="name">Name</label>
    <input name="name" type="text" ng-model="client.name" placeholder="First name Last name" required />
  </div>
  <div class="pure-control-group">
    <label for="">
</form>
