body {
  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 22px;
    font-weight: 200;
  }

  .center {
    text-align: center;
  }
}
