@import 'constants';

body {
  margin-top: $body-margin;

  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 22px;
    font-weight: 200;
  }

  .center {
    text-align: center;
  }

  .hide {
    display: none;
  }

  .page-header {
    margin-top: 10px;
    margin-bottom: 30px;

    * {
      margin-top: 0;
      margin-bottom: 0;
    }

    .breadcrumbs {
      .divider {
        color: #ccc;
        font-weight: 200;
      }

      a, a:link, a:visited, a:hover, a:active {
        color: #08c;
        text-decoration: none;
      }
    }
  }

  hr.soften {
    margin: 20px 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
  }

  .popover {
    position: absolute;
    background-color: rgb(250, 250, 250);
    color: #333;
    padding: 0 20px 20px 0;
    width: 460px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
  }

  .content {
    margin-left: $nav-width;
  }
}
