@import 'constants';

body {
  form.new-client {
    $new-client-form-width: $form-input-width + 155px;
    min-width: 100px + $new-client-form-width;

    .new-client-inner {
      width: $new-client-form-width;
      margin: auto;

      .new-client-section {
        &:not(:first-child) {
          margin-top: 50px;
        }

        div {
          text-align: right;
        }
      }

      input {
        max-width: $form-input-width;
      }
    }
  }
}
