@import 'constants';

body {
  form.new-client {
    $new-client-form-width: 800px;
    margin-left: $nav-width;

    min-width: $nav-width + $new-client-form-width;

    .new-client-inner {
      width: $new-client-form-width;
      margin: auto;
    }
  }
}
