body {
  $fontAwesomePath: "font" !default;
  @font-face {
    font-family: 'FontAwesome';
    src: font-url('#{$fontAwesomePath}/fontawesome-webfont.eot?v=3.0.1');
    src: font-url('#{$fontAwesomePath}/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"),
    font-url('#{$fontAwesomePath}/fontawesome-webfont.woff?v=3.0.1') format("woff"),
    font-url('#{$fontAwesomePath}/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  input {
    padding: 4px 6px;
    width: -moz-calc(100% - 12px);
    width: -webkit-calc(100% - 12px);
    width: -o-calc(100% - 12px);
    width: calc(100% - 12px);
  }

  canvas {
    margin: 10px 0;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .buttons {
    text-align: center;
  }

  .btn-menu {
    min-width: 350px;
    width: 80%;
    margin: 10px auto;
  }

  .small-margin {
    margin: 10px 0;
  }

  .alert {
    margin-bottom: 10px;
  }

  .field_with_errors {
    background-color: transparent;
    width: 100%;
    color: red;
  }
}
