$break-small: 480px;
$break-large: 720px;
$break-xlarge: 1200px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == desktops {
    @media only screen and (min-width: $break-large + 1) and (max-width: $break-xlarge - 1) { @content; }
  }
  @else if $media == widescreens {
    @media only screen and (min-width: $break-xlarge) { @content; }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin transition() {
  $transition-duration: 0.2s;
  -webkit-transition: all $transition-duration ease-out;
  -moz-transition: all $transition-duration ease-out;
  -ms-transition: all $transition-duration ease-out;
  -o-transition: all $transition-duration ease-out;
  transition: all $transition-duration ease-out;
}
