@import 'constants';

body {
  .slide-enter, .slide-leave {
    $animation-duration: 0.4s;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animation-duration;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animation-duration;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animation-duration;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animation-duration;
  }

  .slide-enter {
    left: $nav-width;
  }

  .slide-enter.slide-enter-active {
    left: 2*$nav-width;
  }

  .slide-leave {
    left: 2*$nav-width;
  }

  .slide-leave.slide-leave-active {
    left: $nav-width;
  }
}
