@import 'constants';
@import 'utilities';

.client-form {
  $client-form-nav-width: 300px;
  @include respond-to(widescreens) { padding-top: 20px; }

  .client-form-content {
    @include transition();

    width: 100%;
    display: inline-block;
    @include respond-to(widescreens) {
      @include calc(width, '100% - #{$client-form-nav-width + 5px}');
    }
  }

  .client-form-nav {
    $client-form-nav-padding: 50px;

    @include transition();

    display: none;
    width: $client-form-nav-width - $client-form-nav-padding;
    vertical-align: top;
    padding-right: $client-form-nav-padding;
    @include respond-to(widescreens) { display: inline-block; }
  }
}

.verbose-desc {
  @include respond-to(tablets) { display: none; }
  @include respond-to(handhelds) { display: none; }
}

#toolbar {
  @include transition();

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: #eee;
  color: #666;
  left: $nav-width-desktops;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #ddd;

  .pure-button {
    margin-left: 10px;
  }

  @include respond-to(handhelds) {
    left: 0;
    right: 0;
    &.active {
      left: $nav-width-handhelds;
      right: -$nav-width-handhelds;
    }
  }
  @include respond-to(tablets) {
    left: 0;
    right: 0;
    &.active {
      left: $nav-width-tablets;
      right: -$nav-width-tablets;
    }
  }
}
