@import 'constants';
@import 'utilities';

.subnav {
  padding-top: 85px;
  z-index: 1000;
  left: 2*$nav-width-handhelds;
  background: #212020;

  @include respond-to(handhelds) { left: 2*$nav-width-handhelds; }
  @include respond-to(tablets) { left: 2*$nav-width-tablets; }
  @include respond-to(desktops) { left: 2*$nav-width-desktops; }
}

.nav {
  padding-top: $body-margin;
  z-index: 1001;
  left: $nav-width-handhelds;
  background: #191818;

  .pure-menu ul {
    border-top: 1px solid #333;
  }

  @include respond-to(handhelds) { left: $nav-width-handhelds; }
  @include respond-to(tablets) { left: $nav-width-tablets; }
  @include respond-to(desktops) { left: $nav-width-desktops; }
}

.nav, .subnav {
  margin-left: -$nav-width-handhelds;
  width: $nav-width-handhelds;

  @include respond-to(handhelds) { width: $nav-width-handhelds; margin-left: -$nav-width-handhelds; }
  @include respond-to(tablets) { width: $nav-width-tablets; margin-left: -$nav-width-tablets; }
  @include respond-to(desktops) { width: $nav-width-desktops; margin-left: -$nav-width-desktops }

  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  .pure-menu {
    ul {
      li {
        font-size: 125%;
        @include respond-to(handhelds) { font-size: 100%; }

        a:hover {
          background-color: #333;
        }

        &.menu-item-divided {
          border-top: 1px solid #333;
        }

        &.pure-menu-selected, &.pure-menu-selected a:hover {
          background: #1f8dd6;
          a {
            color: #fff;
          }
        }

        i {
          float: right;
          margin-right: 0.6em;
          line-height: inherit;
        }
      }
    }
  }

  .pure-menu-open {
    background: transparent;
    border: 0;

    .pure-menu-heading {
      font-size: 140%;
      @include respond-to(handhelds) { font-size: 125%; }

      color: #fff;
      text-transform: none;
      padding-left: 0.45em;
      line-height: 28px;
    }
      color: #999;

    a {
      border: none;
      white-space: normal;
      padding: 0.6em 0 0.6em 0.6em;
    }
  }
}

.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

.pure-button-fixed-width {
  width: 300px;
}

.pure-table-full-width {
  width: 100%;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(76, 201, 71); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: orange;
}

.pure-button-secondary {
    background: rgb(95, 198, 218); /* this is a light blue */
}
