<div class="alert">
  <div class="alert-inner">
    <i class="icon-ok icon-large"></i><p>Client 'John Romero' has been saved on this device. This client will be synced once you are connected to the internet again.</p>
  </div>
</div>

<div id="popoverGeneratePolicyRequest" class="popover hide">
  <div class="popover-inner">
    <h3>Policy Request will be Generated</h3>
    <p>A generated policy request form for 'John Romero' will be emailed to you once this device connects to the internet again.</p>
    <%= link_to 'OK', '', :id => 'btnGeneratePolicyRequestOk', :class => 'pure-button pure-button-primary' %>
  </div>
</div>

<br>

<div class="buttons">
  <%= link_to 'Generate Policy Request', '', :id => 'btnGeneratePolicyRequest', :class => 'pure-button pure-button-primary pure-button-large pure-button-fixed-width' %><br><br>
  <%= link_to 'Home', root_path, :class => 'pure-button pure-button-large pure-button-fixed-width' %>
</div>
