<div class="container">
  <div class="page-header">
    <a id="btnEditClient" class="pull-right pure-button pure-button-primary" href="<%= new_user_registration_path %>?updated=1"><i class="icon-edit"></i> Edit Client</a>
    <h2>John Romero</h2>
    <div class="breadcrumbs">
      <%= link_to 'Home', root_path %>
      <span class="divider">&gt;</span>
      <%= link_to 'Clients', new_user_registration_path %>
      <span class="divider">&gt;</span>
      <%= link_to 'John Romero', new_user_registration_path %>
    </div>
    <hr class="soften" />
  </div>
  <table class="pure-table pure-table-horizontal centered document-history">
    <thead>
      <tr>
        <th>Revision #</th>
        <th>Editor</th>
        <th>Change Description</th>
        <th>Date</th>
        <th class="align-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @updated == '1' %>
        <tr>
          <td>5</td>
          <td>David Jones</td>
          <td>Update contact info: new phone number</td>
          <td>2013-05-15</td>
          <td class="align-right">
            <a class="pure-button pure-button-small"><i class="icon-download"></i></a>
            <a class="pure-button pure-button-small"><i class="icon-share-alt"></i></a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>4</td>
        <td>Dave Johnson</td>
        <td>Add new photos of truck fleet</td>
        <td>2013-05-14</td>
        <td class="align-right">
          <a class="pure-button pure-button-small"><i class="icon-download"></i></a>
          <a class="pure-button pure-button-small"><i class="icon-share-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Donald Blake</td>
        <td>Generate policy request form</td>
        <td>2013-05-14</td>
        <td class="align-right">
          <a class="pure-button pure-button-small"><i class="icon-download"></i></a>
          <a class="pure-button pure-button-small"><i class="icon-share-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Keith Maloney</td>
        <td>Update contact info: new phone number, new address</td>
        <td>2013-05-14</td>
        <td class="align-right">
          <a class="pure-button pure-button-small"><i class="icon-download"></i></a>
          <a class="pure-button pure-button-small"><i class="icon-share-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>David Jones</td>
        <td>Create client</td>
        <td>2013-05-13</td>
        <td class="align-right">
          <a class="pure-button pure-button-small"><i class="icon-download"></i></a>
          <a class="pure-button pure-button-small"><i class="icon-share-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
