<!DOCTYPE html>
<html data-ng-app="Consilium">
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "angular", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body data-ng-click="menuItemSelect(null)">
  <header>
  </header>
  <div class="pure-g-r" data-ng-class="{'active': menuShouldShow(), 'layout': isLoggedIn}">
    <a href="" id="mainMenuLink" class="pure-menu-link" data-ng-click="mainMenuLinkClick()"
       data-ng-class="{'active': menuShouldShow()}" data-ng-show="isLoggedIn">
      <i class="icon-reorder icon-2x icon-fixed-width"></i></a>
    <div class="nav pure-u" data-ng-class="{'active': menuShouldShow()}" data-ng-show="isLoggedIn">
      <div class="pure-menu pure-menu-open">
        <a href="#/" class="pure-menu-heading">Consilium</a>
        <ul>
          <li data-ng-repeat="menuItem in menuItems"
              data-ng-class="{'pure-menu-selected': menuItemIsSelected(menuItem.link)}">
            <a href="" data-ng-click="menuItemSelect(menuItem.link, menuItem.subMenuItems)" eat-click>
              {{ menuItem.name }}
              <i data-ng-class="{'icon-caret-down': menuItemIsCaretExpanded(menuItem.link), 'icon-caret-right': !menuItemIsCaretExpanded(menuItem.link)}"
                 data-ng-show="menuItem.subMenuItems != null">
              </i>
            </a>
          </li>
          <li class="menu-item-divided"><a href="" data-ng-click="logout()" eat-click>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="subnav pure-u" data-ng-repeat="menuItem in menuItems"
         data-ng-class="{'nav-active': menuShouldShow(), 'active': subMenuShouldShow(menuItem.link)}"
         data-ng-show="isLoggedIn">
      <div class="pure-menu pure-menu-open">
        <ul>
          <li data-ng-repeat="subMenuItem in menuItem.subMenuItems"
              data-ng-class="{'pure-menu-selected': subMenuItemIsSelected(menuItem.link + subMenuItem.link)}">
            <a href="#{{ menuItem.link }}{{ subMenuItem.link }}"
               data-ng-click="subMenuItemSelect(menuItem.link + subMenuItem.link)" eat-click>
              {{ subMenuItem.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-ng-view="">
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
