<!DOCTYPE html>
<html data-ng-app="Consilium">
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body data-ng-click="menuItemSelect(null)">
  <header>
    <div id="main" role="main">
      <div class="nav pure-u">
        <div class="pure-menu pure-menu-open">
          <a href="#/" class="pure-menu-heading">Consilium</a>
          <ul>
            <li data-ng-repeat="menuItem in menuItems"
                data-ng-class="{'pure-menu-selected': menuItemIsSelected(menuItem.link)}">
              <a href="" data-ng-click="menuItemSelect(menuItem.link)" eat-click>
                {{ menuItem.name }} 
                <i data-ng-class="{'icon-caret-down': menuItemIsCaretExpanded(menuItem.link), 'icon-caret-right': !menuItemIsCaretExpanded(menuItem.link)}"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="subnav pure-u" data-ng-repeat="menuItem in menuItems"
           data-ng-show="subMenuShouldShow(menuItem.link)" data-ng-animate="'slide'">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li data-ng-repeat="subMenuItem in menuItem.subMenuItems"
                data-ng-class="{'pure-menu-selected': subMenuItemIsSelected(menuItem.link + subMenuItem.link)}">
              <a href="#{{ menuItem.link }}{{ subMenuItem.link }}"
                 data-ng-click="subMenuItemSelect(menuItem.link + subMenuItem.link)" eat-click>
                {{ subMenuItem.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    <div data-ng-view="">
    </div>
  </div>
  <footer>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
