<!DOCTYPE html>
<html data-ng-app="Consilium">
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body data-ng-click="selectMenuItem('')" data-ng-controller="HomeController">
  <header>
    <div id="main" role="main">
      <div class="nav pure-u">
        <div class="pure-menu pure-menu-open">
          <a href="#/" class="pure-menu-heading">Consilium</a>
          <ul>
            <li data-ng-repeat="menuItem in menuItems"
                data-ng-class="{'pure-menu-selected': menuItemIsSelected(menuItem.name)}">
              <a href="#{{ menuItem.link }}" data-ng-click="selectMenuItem(menuItem.name)" eat-click>
                {{ menuItem.name }} 
                <i data-ng-class="{'icon-caret-down': menuItemIsSelected(menuItem.name), 'icon-caret-right': !menuItemIsSelected(menuItem.name)}"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="subnav pure-u" data-ng-repeat="menuItem in menuItems"
           data-ng-show="menuItemIsSelected(menuItem.name)" data-ng-animate="'slide'">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li data-ng-repeat="subMenuItem in menuItem.subMenuItems"
                data-ng-class="{'pure-menu-selected': subMenuItemIsSelected(subMenuItem.name)}">
              <a data-ng-click="selectSubMenuItem(subMenuItem.name)"
                 href="#{{ menuItem.link }}{{ subMenuItem.link }}">{{ subMenuItem.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    <div data-ng-view="">
    </div>
  </div>
  <footer>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
