<!DOCTYPE html>
<html data-ng-app="Consilium">
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="main" role="main" data-ng-controller="HomeController">
      <div class="nav pure-u">
        <div class="pure-menu pure-menu-open">
          <a href="#/" class="pure-menu-heading">Consilium</a>
          <ul>
            <li><a href="#/clients" data-ng-click="menuOpen = 'clients'">Clients</a></li>
          </ul>
        </div>
      </div>
      <div class="subnav pure-u" data-ng-hide="menuOpen != 'clients'" data-ng-animate="'slide'">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li><a href="#/clients" data-ng-click="menuOpen = 'blah'">Test</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    <div data-ng-view="">
    </div>
  </div>
  <footer>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
