<!DOCTYPE html>
<html ng-app="Consilium">
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>Consilium</header>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
